canvas {
  max-width: 100%;
}

.ui.grid>.row.cardRow {
  padding: 0;
}

.ui.grid>.row.cardRow:first-child {
  padding-top: 14px;
}

pre.hidden {
  display:none;
}

.fa.male {
  color: #0E6EB8;
}

.fa.female {
  color: #FF1493;
}
