build/*
!build/README.md
!build/build.sh
!build/get_models.sh
!build/get_libs.sh
model/
models/
tools/build-cpp-netlib/
__pycache__
extern/pytorch_workers/**
!extern/pytorch_workers/
!extern/pytorch_workers/*/
!extern/pytorch_workers/*/README.md
!extern/pytorch_workers/vitpose/
!extern/pytorch_workers/vitpose/**
extern/pytorch_workers/vitpose/**/__pycache__/
extern/pytorch_workers/vitpose/**/*.pyc
!extern/README.md
